include pyproject.toml
# Include the README
include *.md

# Include the license file
include LICENSE

# Include source files
include source\_pyrpd.pyx
include source\_pyrpd_def.pxd
recursive-include include *

prune *.pyc